<div class="product-card">
  <!-- <button class="button-detail" (click)="onDetailProduct()"> -->
   <a [routerLink]="['/product',product.id]">
     <app-img [img]="product.images[0]"></app-img>
   </a>
  <!-- </button> -->
  <div class="product-info">
    <div>
      <p>${{product.price | thousandsSeparator }}</p>
      <p>{{product.title}}</p>
      <p *ngIf="product.taxes">{{product.taxes | currency: 'COP'}}</p>
    </div>
    <button class="button-add" (click)="addedProduct()">
    <figure>
      <img src="../../../assets/icons/bt_add_to_cart.svg" alt="">
    </figure>
  </button>
  </div>
</div>
